.projectsContainer {
    margin: 5vmin 5%;
}

.projects {
    background-color: #282c34;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px #00d8ff;
}

#dripdrop {
    height: 35vmin;
    margin: 5vmin;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px white;
    transition: transform .6s;
}

#dripdrop:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}