.projectsContainer {
    margin: 5vmin 5%;
    color: white;
}

.projects {
    background-color: #282c34;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px #00d8ff;
}

.projects-body {
    margin: 0 5vmin;
    display: flex;
    flex-direction: row;
}

.rowOne { 
   margin-top: 5%;
}

.projects-github{
    height: 8vmin;
    transition: transform .3s;
    margin-left: 50%;
}

#dripdrop {
    height: 35vmin;
    margin-top: 5vmin;
    margin-right: 5vmin;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px white;
    transition: transform .6s;
}

.head {
    display: flex;
    flex-direction: row;
}

.techused {
    align-items: center;
    flex-direction: row;
    display: flex;
}

.icons {
    margin-top: 5vmin;
}

.react {
    height: 8vmin;
}

.techstack {
    height: 7vmin;
    margin: 1vmin;
}

.ec2 {
    height: 7vmin;
    margin-right: 1vmin;
}

#dripdrop:hover,
.projects-github:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}