.devxp {
    color: white;
    padding: 1vmin 5vmin;
    margin: 5vmin;
}
.language {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
#js, #react, #html, #css {
    height: 12vmin;
    padding: 2vmin;
}
#angular, #csharp {
    height: 9vmin;
    padding: 2vmin;
}
#java, #sql {
    height: 7vmin;
    padding: 2vmin; 
}
#spring, #kotlin, #node {
    height: 5vmin;
    padding: 2vmin;
}
