.App-header {
  background-color: #282c34;
  min-height: 0pc;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #00d8ff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  left:0;
  top: 0;
  right:0;
  position: relative;
  padding-bottom: 1vmin;
}

.App-logo-header {
  height: 8vmin;
}

