.intro {
    color: white;
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    padding: 1vmin 5vmin;
    margin: 5vmin;
}

.body {
    padding: 1vmin 5vmin;
    margin: 5vmin;
   
}

#ap {
    display: inline;
    padding: 1vmin;
    color: #00d8ff;
}

#name {
    display: inline;
    font-weight: 100;
}

.para {
    padding-top: 4vmin;
}

.textscroll {
    font-weight: bold;
}