.intro {
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1vmin 5vmin;
    margin: 5vmin;
}

.body {
    padding: 1vmin 5vmin;
    margin: 5vmin;
}

#ap {
    display: inline;
    padding: 1vmin;
    color: #00d8ff;
}

#name {
    display: inline;
    font-weight: 100;
}

.para {
    padding-top: 4vmin;
    width: 50%;
}

.textscroll {
    font-weight: bold;
}

@media (max-width: 414px) {
    .body {
        padding: 1vmin 1vmin;
        margin: 1vmin;
    }
}