  .App-footer {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:0;
    position: absolute;
    width: 100%;
  }
  .App-linkedin-footer {
    height: 7vmin;
    padding-left: 10vmin; 
  }
  .App-logo-react {
    animation: App-logo-spin infinite 20s linear;
    height: 7vmin;
    pointer-events: none;
  }
  .App-github-footer {
    height: 7vmin;
    padding-right: 10vmin; 
  }