  .App-footer {
    background-color: #282c34;
    min-height: 0pc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    position: relative;
  }
  
  .App-linkedin-footer {
    height: 7vmin;
    padding-left: 5vmin; 
  }

  .App-logo-react {
    animation: App-logo-spin infinite 20s linear;
    height: 7vmin;
    pointer-events: none;
  }
  
  
  .App-github-footer {
    height: 7vmin;
    padding-right: 5vmin; 
  }