.builtwith {
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    bottom: 0;
    padding-bottom: 60px;
}
.builtwith-react {
    height: 5vmin;
    padding: 1vmin;
}
.builtwith-reactrouter {
    height: 5vmin;
    padding: 1vmin;
}
.builtwith-javascript {
    height: 5vmin;
    padding: 1vmin;
}
.builtwith-html {
    height: 5vmin;
    padding: 1vmin;
}
.builtwith-css {
    height: 5vmin;
    padding: 1vmin;
}