.builtwith {
    align-items: center;
    flex-direction: row;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Exo 2', sans-serif;
    bottom: 0;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.builtwith-reactrouter {
    height: 5vmin;
    padding-right: 1vmin;
    transition: transform .4s;
}

.builtwith-javascript {
    height: 5vmin;
    padding: 1vmin;
    transition: transform .4s;
}

.builtwith-html {
    height: 5vmin;
    padding: 1vmin;
    transition: transform .4s;
}

.builtwith-css {
    height: 5vmin;
    padding: 1vmin;
    transition: transform .4s;
}

.builtwith-react {
    animation: react-logo-spin infinite 15s linear;
    height: 6vmin;
    margin-left: 1vmin;
}

#reactzoom {
    transition: transform .4s;
}
#reactzoom:hover,
.builtwith-css:hover,
.builtwith-html:hover,
.builtwith-javascript:hover,
.builtwith-reactrouter:hover {
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

