.contactme {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    float: right;
}
.contact-github {
    height: 10vmin;
    padding: 3vmin;
}
.contact-email {
    height: 10vmin;
    padding: 3vmin;
}
.contact-linkedin {
    height: 10vmin;
    padding: 3vmin;
}