.contactme {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding-top: 50px;
    text-align: center;
    margin-left: 300px;
    position: absolute;
}

.contact-github {
    height: 10vmin;
    padding: 5vmin;
}

.contact-email {
    height: 10vmin;
    padding: 5vmin;
}

.contact-linkedin {
    height: 10vmin;
    padding: 5vmin;
}

h1 {
    color: white;
    padding-top: 150px;
    margin-left: 150px;
    left: 0;
}