body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
}
ul.header li {
  display: absolute;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
  padding-right: 30px;
}
ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  float: right;
  background-color: #282c34;
}
ul.header li a:hover {
  background-color: #00d8ff;
}
#App-logo-header {
  height: 60px;
  float: left;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 30px;
}


